.modal {

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;

}

.modal .open{

}

.modal-container {

    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    min-width: calc(100%-32px);
}



.modal-close {

    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}

.modal-close:hover {
    opacity: 0.8;
    background-color: red;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal .icon-bag {
    margin-right: 16px;
}

.modal-body {
    margin: 16px;
}

.modal-label {

    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#btn-tikets{
    font-size: 15px;
    padding: 18px;
    width: 100%;
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
}
#btn-tikets:hover{
    opacity: 0.9;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
    
}

.modal-help a{
    color: #2196f3;
}
.modal-help {}