/*MObile*/
@media (max-width:740px) {
    
   

    #nav {
        display: block;
    }

    #nav li {
        display: block;
        
    }

    #nav> li:first-child {
        display: inline-block;
    }

    #nav li a {
        display: block;
        padding: 1px 24px;
    }

    #nav .subnav{
        position: initial;
        background-image: linear-gradient(-45deg, rgb(0, 255, 234), rgb(35, 56, 75));

    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #header {
        overflow: hidden;
    }

    #header #mobile-menu {
        display: block;
    }
    #header .search-btn{
        display: none;
       
    }

    #content .tetx-center{
        width: 100%;
        margin-top: 30px;
        
    }

    #content .tetx-center img {
        width: 60%;
    }

    #content .s-col-full{
        width: 100%;
        
    }
}

