* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.row{
    margin-left: -8px;
    margin-right: -8px;

}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: 33.3333%;
}

.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

.text-white {
    color: #fff !important;
}

.pull-right{
    float: right;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


#main {}

#header {
    background-image: linear-gradient(-45deg, rgb(0, 255, 234), rgb(35, 56, 75));
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;


}

#nav {
    display: inline-block;

}

#nav .subnav {
    list-style-type: none;

}

#nav li {
    display: inline-block;
    position: relative;

}

#nav>li:hover>a,
#nav .subnav li :hover {
    background-color: #ccc;
    color: #000;
}

#nav>li:hover .subnav {
    display: block;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 20px;
    display: inline-block
}

#nav .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#nav .subnav li {
    width: 100%;
}

#nav .subnav a {
    color: #000;
    width: 100%;
    padding: 0 12px;
    line-height: 38px;
}

.nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 24px;


}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;

}




#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/DT\ 1.jpg') top center / cover no-repeat;
}

.tetx-content {
    position: absolute;
    bottom: 47px;
    /* left: 50%;
    transform:translateX(-50%) ; */
    width: 100%;
    text-align: center;
    color: #fff;


}

#slider .text-heading {
    font-weight: bolder;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    padding-top: 25px;
}

#content {}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0px 112px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}


.section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

.section-sub-heading {
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    font-style: italic;
    margin-top: 25px;

}

.about-text {
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

.members-list {
    
    margin-top: 32px;
    overflow: hidden;

}

#content .members-item {
    text-align: center;
}

.members-list .members-item img {

    margin-top: 20px;
    width: 100%;
    border-radius: 4px;

}

.tour-section {
    background-image: linear-gradient(-45deg, rgb(0, 255, 234), rgb(35, 56, 75));}


.tour-list {
    list-style-type: none;
    margin-top: 48px;
}

.tour-list li {
    padding: 4px 24px;
    border-bottom: 1px solid #dddd;
    color: #757575;
    background-color: #fff;
    font-size: 15px;


}

.tour-list .sold-out {
    background-color: #f44336;
    line-height: 15px;
    padding: 0 8px;
    margin-left: 30px;
    color: #fff;
}

.tour-list .quantity {
    float: right;
    font-size: 15px;
    border-radius: 50%;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    width: 20px;
    line-height: 15px;
    margin-top: 5px;
}



/*------{

}-.PLace Tour-------*/


.place-list {
    margin-top: 16px;
    overflow: hidden;
    
}


.place-img {
    width: 100%;
    height: 184px;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-text {
    padding: 16px;
    font-size: 15px;
    background-color: #ffff;

}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-decs {
    margin-top: 15px;
    line-height: 1.6;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;

}

.btn:hover {
    background-color: #cccc;
    color: #000;
    cursor: pointer;
}


/*----------------contac-form*--------------*/

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;

}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;

}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;

}

.socials-list{
    font-size: 24px;
}

.socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.socials-list a:hover {

    color: rgba(0, 0, 0, 0.4);
}
.copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);

}
.copyright a{
    color: rgba(0, 0, 0, 0.6);
    
}